header
    .container
        .header-nav
            .sandwich
                span.sandwich-line.sandwich-line--top
                span.sandwich-line.sandwich-line--middle
                span.sandwich-line.sandwich-line--bottom
            span.header-nav__title Menu
            include menu.pug
        .header-about
            h1.header-company__name Группа компаний Emerald
            span.header-company__descr Организация свадебных торжеств
        .header-logo.logo
            img(src="static/img/general/logo.png" srcset="static/img/general/logo2x.png 2x" alt="logo")
        .header-phone
            a(href="tel:+749551955722") +7 495 519 55 722
            a(href="tel:+798539441057") +7 985 394 41 057
        a(href="#feedback").g-btn.g-btn--small.popup-link.header-btn Заказать звонок
