ul.header-nav__list
    li
        a(href="#main").header-nav__link Главная
    li
        a(href="#services").header-nav__link Услуги
    li
        a(href="#portfolio").header-nav__link Потрфолио
    li
        a(href="#price").header-nav__link Стоимость
    li
        a(href="#team").header-nav__link Наша команда
    li
        a(href="#partner").header-nav__link Площадка-партнер
    li
        a(href="#reviews").header-nav__link Отзывы
    li
        a(href="#other").header-nav__link Не свадебные проекты
    li
        a(href="#footer").header-nav__link Контакты