extends ../layout/main

block title
	| Главная страница
block content
	include ../sections/banner
	include ../sections/about
	include ../sections/services
	include ../sections/portfolio
	include ../sections/price.pug
	include ../sections/team.pug
	include ../sections/partner.pug
	include ../sections/reviews.pug
	include ../sections/other.pug
	include ../sections/secrets.pug
	
