.sandwich {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
}
.header-nav {
  &.active {
    .sandwich-line--top {
      top: 21px;
      transform: rotate(45deg);
    }
    .sandwich-line--middle {
      opacity: 0;
    }
    .sandwich-line--bottom {
      top: 21px;
      transform: rotate(-45deg);
    }
  }
}
.sandwich-line {
  position: absolute;
  left: 50%;
  margin-left: -12.5px;
  display: block;
  width: 25px;
  height: 4px;
  background-color: #fff;
  transition: all .5s ease;
}
.sandwich-line--top {
  top: 13px;
}
.sandwich-line--middle {
  top: 21px;
  opacity: 1;
}
.sandwich-line--bottom {
  top: 29px;
}
.g-btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  padding: 0 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  background-color: @mainColor;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: #fff;
    color: @mainColor;
    border: 1px solid @mainColor;
  }
  &.g-btn--small {
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 20px;
  }
  &.g-btn--pdf {
    position: relative;
    padding-left: 45px;
    transition: all 0.5s ease;

    &::before {
      content: '';
      position: absolute;
      left: 20px;
      top: 15px;
      display: block;
      width: 20px;
      height: 18px;
      background:  url(../img/svg/pdf-btn.svg) center no-repeat;
    }
    &:hover {
      background-color: #fff;
      color: ##007558;
      &::before {
        background:  url(../img/svg/pdf-btn__hover.svg) center no-repeat;
      }
    }
  }
}
.g-section-title {
  margin-bottom: 30px;
  text-align: center;
  font-family: @titleFont;
  font-size: 42px;
  color: @mainColor;

  &.g-section-title__white {
    color: #fff;
  }
}
.instagram-text {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-family: @boldFont;
  color: @mainColor;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: url('../img/svg/instagram.svg') 0 0 no-repeat;
    width: 35px;
    height: 35px;
  }
}
.form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding: 50px 25px 35px;
  max-width: 360px;
  color: @mainColor;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;

  form {
    display: block;
  }
}
.form-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.3;
}
.form-group {
  position: relative;
  margin-bottom: 25px;

  &.form-group--phone {
    margin-bottom: 40px;
  }
}
.form-group--icons {
  &::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 34px;
    display: block;
    width: 15px;
    height: 15px;
  }
  &.form-group--phone {
    &::before {
      background: url('../img/svg/phone-gray.svg') 0 0 no-repeat;
      background-size: 100%;
    }
  }
  &.form-group--name {
    &::before {
      background:  url('../img/svg/user.svg') 0 0 no-repeat;
      background-size: 100%;
    }
  }
}
.g-input {
  height: 40px;
  line-height: 38px;
  margin-bottom: 5px;
  padding: 0 10px 0 35px;
  border: 1px solid @grayColor;
  border-radius: 5px;

  &.error {
    border-color: red;
  }
}
.success-form {
  position: relative;
  padding-top: 180px;
  display: none;
  font-size: 28px;
  line-height: 1.2;
  &.success-show {
    display: block;
  }
  &::before {
    content: '';
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -90px;
    background:  url('../img/general/success-form.png') 0 0 no-repeat;
    background-size: 100%;
  }
}
.success-text__bold {
  display: block;
  font-family: @boldFont;
}
