/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@artists-name: 'artists';
@artists-x: 181px;
@artists-y: 0px;
@artists-offset-x: -181px;
@artists-offset-y: 0px;
@artists-width: 165px;
@artists-height: 165px;
@artists-total-width: 706px;
@artists-total-height: 525px;
@artists-image: '../img/sprite/sprite.png';
@artists: 181px 0px -181px 0px 165px 165px 706px 525px '../img/sprite/sprite.png' 'artists';
@banket-name: 'banket';
@banket-x: 361px;
@banket-y: 180px;
@banket-offset-x: -361px;
@banket-offset-y: -180px;
@banket-width: 165px;
@banket-height: 165px;
@banket-total-width: 706px;
@banket-total-height: 525px;
@banket-image: '../img/sprite/sprite.png';
@banket: 361px 180px -361px -180px 165px 165px 706px 525px '../img/sprite/sprite.png' 'banket';
@birthday-name: 'birthday';
@birthday-x: 0px;
@birthday-y: 0px;
@birthday-offset-x: 0px;
@birthday-offset-y: 0px;
@birthday-width: 166px;
@birthday-height: 165px;
@birthday-total-width: 706px;
@birthday-total-height: 525px;
@birthday-image: '../img/sprite/sprite.png';
@birthday: 0px 0px 0px 0px 166px 165px 706px 525px '../img/sprite/sprite.png' 'birthday';
@child-name: 'child';
@child-x: 0px;
@child-y: 180px;
@child-offset-x: 0px;
@child-offset-y: -180px;
@child-width: 165px;
@child-height: 165px;
@child-total-width: 706px;
@child-total-height: 525px;
@child-image: '../img/sprite/sprite.png';
@child: 0px 180px 0px -180px 165px 165px 706px 525px '../img/sprite/sprite.png' 'child';
@corparate-name: 'corparate';
@corparate-x: 180px;
@corparate-y: 180px;
@corparate-offset-x: -180px;
@corparate-offset-y: -180px;
@corparate-width: 165px;
@corparate-height: 165px;
@corparate-total-width: 706px;
@corparate-total-height: 525px;
@corparate-image: '../img/sprite/sprite.png';
@corparate: 180px 180px -180px -180px 165px 165px 706px 525px '../img/sprite/sprite.png' 'corparate';
@decor-name: 'decor';
@decor-x: 361px;
@decor-y: 0px;
@decor-offset-x: -361px;
@decor-offset-y: 0px;
@decor-width: 165px;
@decor-height: 165px;
@decor-total-width: 706px;
@decor-total-height: 525px;
@decor-image: '../img/sprite/sprite.png';
@decor: 361px 0px -361px 0px 165px 165px 706px 525px '../img/sprite/sprite.png' 'decor';
@fb-name: 'fb';
@fb-x: 541px;
@fb-y: 180px;
@fb-offset-x: -541px;
@fb-offset-y: -180px;
@fb-width: 52px;
@fb-height: 52px;
@fb-total-width: 706px;
@fb-total-height: 525px;
@fb-image: '../img/sprite/sprite.png';
@fb: 541px 180px -541px -180px 52px 52px 706px 525px '../img/sprite/sprite.png' 'fb';
@inst-name: 'inst';
@inst-x: 541px;
@inst-y: 314px;
@inst-offset-x: -541px;
@inst-offset-y: -314px;
@inst-width: 52px;
@inst-height: 52px;
@inst-total-width: 706px;
@inst-total-height: 525px;
@inst-image: '../img/sprite/sprite.png';
@inst: 541px 314px -541px -314px 52px 52px 706px 525px '../img/sprite/sprite.png' 'inst';
@master-name: 'master';
@master-x: 0px;
@master-y: 360px;
@master-offset-x: 0px;
@master-offset-y: -360px;
@master-width: 165px;
@master-height: 165px;
@master-total-width: 706px;
@master-total-height: 525px;
@master-image: '../img/sprite/sprite.png';
@master: 0px 360px 0px -360px 165px 165px 706px 525px '../img/sprite/sprite.png' 'master';
@organization-name: 'organization';
@organization-x: 180px;
@organization-y: 360px;
@organization-offset-x: -180px;
@organization-offset-y: -360px;
@organization-width: 165px;
@organization-height: 165px;
@organization-total-width: 706px;
@organization-total-height: 525px;
@organization-image: '../img/sprite/sprite.png';
@organization: 180px 360px -180px -360px 165px 165px 706px 525px '../img/sprite/sprite.png' 'organization';
@photo-name: 'photo';
@photo-x: 360px;
@photo-y: 360px;
@photo-offset-x: -360px;
@photo-offset-y: -360px;
@photo-width: 165px;
@photo-height: 165px;
@photo-total-width: 706px;
@photo-total-height: 525px;
@photo-image: '../img/sprite/sprite.png';
@photo: 360px 360px -360px -360px 165px 165px 706px 525px '../img/sprite/sprite.png' 'photo';
@registration-name: 'registration';
@registration-x: 541px;
@registration-y: 0px;
@registration-offset-x: -541px;
@registration-offset-y: 0px;
@registration-width: 165px;
@registration-height: 165px;
@registration-total-width: 706px;
@registration-total-height: 525px;
@registration-image: '../img/sprite/sprite.png';
@registration: 541px 0px -541px 0px 165px 165px 706px 525px '../img/sprite/sprite.png' 'registration';
@vk-name: 'vk';
@vk-x: 541px;
@vk-y: 247px;
@vk-offset-x: -541px;
@vk-offset-y: -247px;
@vk-width: 52px;
@vk-height: 52px;
@vk-total-width: 706px;
@vk-total-height: 525px;
@vk-image: '../img/sprite/sprite.png';
@vk: 541px 247px -541px -247px 52px 52px 706px 525px '../img/sprite/sprite.png' 'vk';
@wa-name: 'wa';
@wa-x: 608px;
@wa-y: 247px;
@wa-offset-x: -608px;
@wa-offset-y: -247px;
@wa-width: 52px;
@wa-height: 52px;
@wa-total-width: 706px;
@wa-total-height: 525px;
@wa-image: '../img/sprite/sprite.png';
@wa: 608px 247px -608px -247px 52px 52px 706px 525px '../img/sprite/sprite.png' 'wa';
@youtube-name: 'youtube';
@youtube-x: 608px;
@youtube-y: 180px;
@youtube-offset-x: -608px;
@youtube-offset-y: -180px;
@youtube-width: 52px;
@youtube-height: 52px;
@youtube-total-width: 706px;
@youtube-total-height: 525px;
@youtube-image: '../img/sprite/sprite.png';
@youtube: 608px 180px -608px -180px 52px 52px 706px 525px '../img/sprite/sprite.png' 'youtube';
@spritesheet-width: 706px;
@spritesheet-height: 525px;
@spritesheet-image: '../img/sprite/sprite.png';
@spritesheet-sprites: @artists @banket @birthday @child @corparate @decor @fb @inst @master @organization @photo @registration @vk @wa @youtube;
@spritesheet: 706px 525px '../img/sprite/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
