section.about
  .container
    .about-content
      .about-video
        iframe(src="https://www.youtube.com/embed/uOu35PiJ2B0" width="100%" height="315" frameborder="0" allowfullscreen)
      .about-text
        h2.g-section-title О нас
        p 
          strong Emerald
          | (в переводе с англ.) – изумруд, драгоценный камень с множеством граней, он олицетворяет нашу деятельность, наш подход к каждому мероприятию. 
        p 
          strong Наша основная задача
          | -услышать пожелания клиента и воплотить в жизнь его мечту, какой бы смелой она ни казалась. При этом, мы абсолютно убеждены, что хороший праздник зависит не от количества вложенных в него денег, а от подхода и профессионализма команды, которая работает над проектом. 
        p
          strong Команда Emerald
          | – это целый мир, который дарит мечты.
        span.instagram-text #МойМирМойEmerald
