section.banner#banner
    .container
        p.banner-text.
          Наш 10 летний опыт организации свадебных торжеств<br>
          Поможет Вам сэкономить до 15% от свадебного бюджета<br>
          И около 3-х месяцев, самостоятельной подготовки.
                        
