section.other
    .container
        .other-content
            h2.g-section-title Наши не свадебные проекты
            span.other-descr Также, мы организуем такие мероприятия как:
            .other-item__wrap
                .other-item.other-item--corporate
                    span.other-item__title Корпоративы
                .other-item.other-item--birthday
                    span.other-item__title Дни рождения,<br>Юбилеи
                .other-item.other-item--child
                    span.other-item__title Выпускные вечера,<br> Детские праздники
            .other-offer 
                p Узнать подробности и договориться о проведении можете по телефону
                    a(href='tel:+74951955722') +7 (495) 195-57-22 
                    | или заполните форму на следующем экране
                
                img(src="static/img/svg/arrow-down.png").other-arrow