section.partner
    .container
        .partner-content
            h2.g-section-title Наша площадка-партнер –<br>Кафе-шатры «Русская сказка»
            .partner-photo__wrap
                .partner-photo(style="background-image: url('static/img/content/partner/part1.jpg')")
                .partner-photo.partner-photo--width(style="background-image: url('static/img/content/partner/part2.jpg')")
                .partner-photo(style="background-image: url('static/img/content/partner/part3.jpg')")
            .partner-advantages__line
                .partner-advantages__item.partner-advantages--item1
                    span.partner-advantages__number 1
                    p – Располагается 
                        b в Национальном конном парке «Русь»
            
                .partner-advantages__item.partner-advantages--item2
                    span.partner-advantages__number 2
                    p – Есть возможность размещения на территории:молодоженам
                        b  в двухкомнатном люксе,
                        | а остальным гостям мы можем предложить на выбор: 
                        b гостиничные номера,  либо коттеджи
            .partner-advantages__line
                .partner-advantages__item.partner-advantages--item3
                    span.partner-advantages__number 3
                    p – На территории комплекса размещены 
                        b 3 белоснежных арочных шатра площадью 200кв. м
                
                .partner-advantages__item.partner-advantages--item4
                    span.partner-advantages__number 4
                    p – Шатры имеют<br>   
                        b  удобный заезд 
                        | и 
                        b собственную парковку
            .partner-more
                span Подробнее о площадке
                a(href="#").g-btn.g-btn--pdf Презентация PDF
            