section.portfolio
    .container
        h2.g-section-title Портфолио
        .portfolio-item__wrap
            .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port1.jpg')")
                .portfolio-item__search
                .portfolio-item__descr
                    span Свадьба Александра и Юлии
            .portfolio-item(style="background-image: url('static/img/content/portfolio/port2.jpg')")
                .portfolio-item__search
                .portfolio-item__descr
                    span Свадьба Александра и Ирины
            .portfolio-item(style="background-image: url('static/img/content/portfolio/port3.jpg')")
                .portfolio-item__search
                .portfolio-item__descr
                    span Свадьба Александра и Ольги