section.portfolio#portfolio
    .container
        h2.g-section-title Портфолио
        .portfolio-item__wrap
            .portfolio-item__line
                .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port1.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Юлии
                .portfolio-item(style="background-image: url('static/img/content/portfolio/port2.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Ирины
                .portfolio-item(style="background-image: url('static/img/content/portfolio/port3.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Ольги


            .portfolio-item__center 
                .portfolio-item(style="background-image: url('static/img/content/portfolio/port4.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Ольги
                .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port5.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Юлии
                .portfolio-item.portfolio-item--height(style="background-image: url('static/img/content/portfolio/portHeight.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Юлии
                .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port6.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Юлии
                .portfolio-item(style="background-image: url('static/img/content/portfolio/port7.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Ольги


            .portfolio-item__line
                .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port9.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Юлии
                .portfolio-item(style="background-image: url('static/img/content/portfolio/port10.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Ирины
                .portfolio-item(style="background-image: url('static/img/content/portfolio/port11.jpg')")
                    .portfolio-item__search
                    .portfolio-item__descr
                        span Свадьба Александра и Ольги 
            
            .portfolio-instagram
                span Следите за нами в инстаграмме: 
                span.instagram-text my_world_my_emerald
