section.price#price
    .container
        h2.g-section-title.g-section-title__white Стоимость
        .price-item__wrap
            .price-slider__controls.price-slider__prev
            .price-slider__controls.price-slider__next
            .js-price-item__wrap
                .price-item.price-item--level1
                    span.price__title Свадебный<br> распорядитель
                    p.price-descr Ваш личный помощник, который решает все организационно-технический вопросы в день Вашего торжества:
                    ul.price-list
                        li – Встречает и провожает гостей
                        li – Общается с банкетной службой ресторана
                        li – Следит за работой свадебного персонала
                            i (фото, видео, артисты, ведущий, декоратор)
                        li - Отвечает за зону выездной регистрации
                        li – Отвечает на все волнующие вопросы

                    .price-number
                        span 17 000 &#8381;


                .price-item.price-item--level2
                    span.price__title Организация<br> свадьбы
                    p.price-descr Полное сопровождение «предсвадебного путешествия» для того, чтобы подготовка доставила удовольствие:
                    ul.price-list
                        li – Уделим внимание всем деталям, 
                        | поможем оптимизировать бюджет, порекомендуем надежных свадебных специалистов, наполним торжество 
                        | Вашей душой. 
                        li – В день свадьбы на площадке работают: свадебный распорядитель + координатор. 
                        li: b Вы отдыхаете!

                    .price-number
                        span 37 000 &#8381;
                    

                .price-item.price-item--level3
                    span.price__title Premium<br> Организация свадьбы
                    p.price-descr Это предложение идеально подходит для свадебных торжеств, если приглашённых гостей будет
                        b 100 и более человек. 
                    ul.price-list
                        li – Если в расписании свадебного дня запланирована насыщенная программа с развлечениями и артистами.
                        li – С утра ВАС будет сопровождать координатор, который возьмет на себя хлопоты первой половины дня. 
                        li – В день свадьбы на площадке работают:
                            i свадебный распорядитель +2 координатора.
                    .price-number
                        span 57 000 &#8381;

        .price-order
            p Подробная консультация по телефону:  
                a(href="tel:+74951955722") +7 (495) 195-57-22  
                | или оставьте заявку:
            a(href="#feedback").g-btn.popup-link Оставьте заявку