section.secret
    .container
        .secret-content
            h2.g-section-title.g-section-title__white Секреты организации идеальной свадьбы
            .secret-text
                span.secret-text__title На консультации мы расскажем:
                ul.secret-list
                    li Как сэкономить до 15% свадебного бюджета.
                    li Как выбрать и проверить ведущего, фотографа,
                    | оператора, декоратора. Какие вопросы задавать на собеседовании.
                    li Какую площадку выбрать и как обойти пробковый сбор. 
                    li Что лучше, выездная регистрация или ЗАГС.
                    li Почему, стоит избегать агентства, которые работают за %?

            form.form.form--secret
                p.form-title Консультация<br>свадебного специалиста с опытом организации 
                    b более 200 свадеб!
                .form-group.form-group--name.form-group--icons
                    input(type="text" name="name" placeholder="Ваше имя").g-input
                .form-group.form-group--phone.form-group--icons
                    input(type="text" name="phone" placeholder="Ваш телефон").g-input
                .form-group
                    input(type="submit" value="Получить консультацию").g-btn
                