section.services#services
  .container 
    h2.g-section-title.g-section-title__white Услуги
    .services-item.services-item--organization
      span.services-item__title Организация
      p.services-item__text У нас не было, нет и никогда не будет готовых предложений с набором опций.
        b Свадьба – это маленькая жизнь со своей историей и душой.

    .services-item.services-item--master
      span.services-item__title Ведущий
      p.services-item__text В нашей команде  
        b более 30 ведущих
        | разделяющих наше видение на свадебное торжество. 

    .services-item.services-item--photo.service-item--center
      span.services-item__title Фотограф/<br>Видеооператор
      p.services-item__text В нашей медиа-команде    
        b более 20 специалистов,<br>
        | проверенных нами.

    .services-item.services-item--decor.service-item--center
      span.services-item__title Декор
      p.services-item__text Команда декораторов нашей службы торжеств поможет Вам выбрать  
        b стиль и цветовое решение 
        | Вашей свадьбы   

    .services-item.services-item--banket.service-item--center
      span.services-item__title Банкет
      p.services-item__text Наша банкетная служба удовлетворит  
        b любые вкусовые предпочтения
        | даже самого изысканного гурмана. 

    .services-item.services-item--registration
      span.services-item__title Выездная регистрация
      p.services-item__text Выслушав   
        b Ваши пожелания, предпочтения и мечту
        | – как должна пройти эта красивая история, мы поможем ее осуществить. 

    .services-item.services-item--artists
      span.services-item__title Артисты
      p.services-item__text Разнообразить артистами зону велком, украсить банкетный вечер ярким выступлением, 
        b поставить «вишенку на торт» в завершении вечера. 
