section.team#team
    .container
        .team-content
            h2.g-section-title Наша команда
            .team-founder
                .team-photo.team-photo--founder
                .team-founder__info  
                    span.team-founder__title
                    span.team-founder__work Основатель Группы компаний Emerald
                    span.team-founder__work Генеральный директор<br>Организатор, Ведущая
                    p.team-founder__text «Наша миссия - нести в массы культуру мероприятий. Любое торжество - свадьба, корпоратив или день рождение - это не банкет с тамадой и набором артистов. Это гораздо глубже, больше. Это эмоции и ощущения, с которыми человек уходит домой, поэтому у каждого нашего праздника есть личная история и душа»

            .team-item.team-item--leader-organization   
                .team-photo
                span.team-title Наталья Гудошникова
                span.team-work Исполнительный директор Группы компаний Emerald
                span.team-work Руководитель отдела организации
                span.team-work Свадебный распорядитель

            .team-item.team-item--koordinator
                .team-photo
                span.team-title Оксана Абросимова
                span.team-work Организатор
                span.team-work Свадебный распорядитель
                span.team-work Координатор

            .team-item.team-item--banket-leader   
                .team-photo
                span.team-title Мария Ершова 
                span.team-work Руководитель банкетной<br> службы


            .team-item.team-item--photographer   
                .team-photo
                span.team-title Сергей Прудников
                span.team-work Руководитель направления <br> "Emerald media"
                span.team-work Фотограф

            .team-item.team-item--teambuilding-leader   
                .team-photo
                span.team-title Руслан Чачанов
                span.team-work Руководитель направления по разработке корпоративных программ и тимбилдингов. 

            .team-item.team-item--child-leader   
                .team-photo
                span.team-title Ольга Меньшикова
                span.team-work Руководитель направления "Emerald детям"

            .team-item.team-item--scenarist   
                .team-photo
                span.team-title Артур Васильев
                span.team-work Режиссер-постановщик<br> мероприятий
                span.team-work Сценарист
                span.team-work Ведущий

            .team-item.team-item--decor  
                .team-photo
                span.team-title Элона Губаз
                span.team-work Руководитель направления <br> " Декор от Emerald"
                span.team-work Декоратор-флорис
